// Load fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Load boilerplate.  Had to put normalize in the script section because webpack
// was having trouble resolving.  I think the .css suffix was the issue.
@import '~bukwild-stylus-library/boilerplate'

// Load other styl files
@import './defaults'
@import './typography'
@import './utils'
@import './whitespace'
@import './transitions'
