// Default vars
// Override these in your definitions.styl
// Or override them in your components by setting a CSS variable of the same name.
_blue = #4060b0

// Font Colors (all fields)
form-color-base ?= black
form-color-hover ?= form-color-base
form-color-focus ?= form-color-base
form-color-error ?= #ec1c23

// Background Colors (all fields)
form-bkg-base ?= transparent
form-bkg-hover ?= rgba(_blue, 0.01)
form-bkg-focus ?= rgba(_blue, 0.03)
form-bkg-error ?= rgba(form-color-error, 0.03)

// Outline Colors (all fields)
form-outline-base ?= rgba(black, 0.2)
form-outline-hover ?= rgba(_blue, 0.4)
form-outline-focus ?= rgba(_blue, 0.6)
form-outline-error ?= rgba(form-color-error, 0.6)

// Outline Style (all fields)
form-outline-width ?= 1px
form-outline-offset ?= 0px

// Animation (all fields)
form-base-speed ?= 200ms
form-easing-function ?= ease-out-quint

// Input & select fields
form-input-height ?= 60px
form-input-height-min ?= 50px
form-input-padding-h ?= 15px
form-input-padding-h-min ?= 12px
form-input-radius ?= 8px
form-input-label-above-padding ?= 5px // Padding between ".vf-label-above" and the input below it

// Checkbox
form-checkbox-size ?= 30px
form-checkbox-radius ?= 3px

// Tooltip (all fields)
form-tooltip-btn-w ?= 23px
