// Styles shared by all fields

.vf-field
	// Make room for .vf-error-message
	margin-bottom 40px

// Validation error message
.vf-error-message
	color form-color-error
	font-size form-error-size
	// Don't shift the layout
	height 0px
	padding-top 6px
	margin-bottom -6px

// Transition for error message and tooltip message
.vf-slide-enter-active, .vf-slide-leave-active
	transition transform form-base-speed ease-out-quad, opacity (form-base-speed/1.25)
.vf-slide-enter-to, .vf-slide-leave // In state
	opacity 1
.vf-slide-enter, .vf-slide-leave-to // Out state
	opacity 0
	transform translateY(-8px)


