// Root element
.vf-inputfield
	width 100%
	color form-label-base

	fluid --form-input-padding-h, form-input-padding-h, form-input-padding-h-min

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button
		-webkit-appearance none
		margin 0

	[type=number]
		-moz-appearance textfield

	label
		display block
		position relative
		margin-bottom form-input-label-above-padding
		
	.input-wrap
		position relative

	input
		
		// Input text color
		&, ~ .prefix, ~ .suffix
			color form-color-base
		
		// Placeholder
		&::placeholder
			color form-color-placeholder

		// Background
		background form-bkg-base

		// Fill container
		width 100%

		&, ~ .suffix
			// Give it a fluid height
			fluid height, form-input-height, form-input-height-min
			
			// Push text away from margins
			padding-right var(--form-input-padding-h)

	&.no-prefix input
		&, ~ .suffix
			padding-left var(--form-input-padding-h)

	&.has-prefix input
		&, ~ .suffix
			// Move input text right to make space for prefix.
			// Individual implementations will likely have to customize this
			padding-left calc(var(--form-input-padding-h) + 0.7em)

	&.no-value .suffix
		display none

	input

		// Outline
		outline form-outline-width solid form-outline-base
		outline-offset form-outline-offset
		border none
		border-radius form-input-radius

		// Animation
		transition color form-base-speed

		// Transparent placeholder on focus
		&:focus::placeholder
			color transparent


		&:not([disabled])
			// Hover state
			+hover()
				outline-color form-outline-hover
				color form-color-hover
				background form-bkg-hover

			// Focus state
			&:focus
				transition-duration (form-base-speed/2)
				outline-color form-outline-focus
				color form-color-focus
				background form-bkg-focus
				outline-offset form-outline-offset

		// Disabled state
		&[disabled]
			&, &::placeholder
				color grey
				opacity 1

	.prefix
		position absolute
		top 50%
		transform translateY(-50%)
		fluid left, form-input-padding-h, form-input-padding-h-min

	// Prefix matches placeholder color
	&.no-value input ~ .prefix
		color form-color-placeholder

	// Prefix has hover color only when it's not a placeholder
	&.has-value input:not([disabled])
		+hover()
			~ .prefix
				color form-color-hover


	.suffix
		position absolute
		top 0
		left 1px // A bit extra space between value and suffix
		display flex
		align-items center
		pointer-events none
	
	// This suffix value is hidden, and exists solely to properly position the suffix.
	.suffix-value
		opacity 0
		color transparent

// Error state
>>> .vf-inputfield.error
	input
		outline-color form-outline-error
		background form-bkg-error
		&, &::placeholder, ~ .prefix
			color form-color-error

		+hover()
			color form-color-error-hover
			background form-bkg-error-hover
			outline-color form-outline-error-hover

		&:focus
			color form-color-error-focus
			background form-bkg-error-focus
			outline-color form-outline-error-focus

