// Not used yet!

radio-style()
	size = 16px
	innerSize = 10px
	display inline-flex
	align-items center
	cursor pointer
	margin-right spacing-s
	margin-bottom spacing-s

	&.boxed
		border 1px solid ui-grey
		border-radius input-box-radius
		width 100%

	.radio
		circle(size)
		border 1px solid ui-grey
		position relative
		flex-center()
		margin-right spacing-xs
		flex-shrink 0

	.radio:after
		content ''
		display block
		width innerSize
		height innerSize
		border-radius 50%
		background color-primary
		transition opacity (base-speed/2) ease-out
		opacity 0

	input[type=radio]
		display none

	input:checked ~ .radio:after
		opacity 1
