// CSS Reset on 'fieldset' and 'legend' elements
// https://thatemil.com/blog/2015/01/03/reset-your-fieldset/
fieldset
	border 0
	// Padding-top required in order to collapse margin-top in Safari
	padding 0.01em 0 0 0
	margin 0
	min-width 0

legend
	padding 0
	// Required to enable line wrapping in Chrome
	display table

body:not(:-moz-handler-blocked) fieldset {
	// Required to enable line wrapping in FF
	display table-cell
}

// Mixins

// Checked
vf-radio-option-checked()
	.vf-radio input:checked ~ .option
		{ block }

// Checked Hover
vf-radio-option-checked-hover()
	@media (hover hover)
		.vf-radio input:checked:hover ~ .option
			{ block }

// Checked Focus
vf-radio-option-checked-focus()
	.vf-radio input.focus-visible:checked ~ .option
		{ block }

// Unchecked
vf-radio-option-unchecked()
	.vf-radio input:not(:checked) ~ .option
		{ block }

// Unchecked Hover
vf-radio-option-unchecked-hover()
	@media (hover hover)
		.vf-radio input:not(:checked):hover ~ .option
			{ block }

// Unchecked Focus
vf-radio-option-unchecked-focus()
	.vf-radio input.focus-visible:not(:checked) ~ .option
		{ block }


// Radio Field Base Styles

.vf-radio

	.group-label
		width 100%
		// Position:relative so slotted contents can be position:absolute
		position relative

	input[type=radio]
		// Must not be display:none in order to be tabbable
		opacity 0
		width 0

	.option
		display flex
		flex-wrap nowrap
		align-items flex-start
		cursor pointer

	.option-label
		position relative
		// Vertically center the first line of text with the checkbox
		// Based off the radio size so it scales automatic-ish
		padding-top (form-radio-size / 14)
		fluid margin-h, form-input-padding-h, form-input-padding-h-min

	.icon-wrap
		position relative
		width form-radio-size
		height form-radio-size
		// Border-radius goes here too because
		// this element renders the outline.
		border-radius form-radio-radius
		outline form-outline-width solid form-outline-base
		outline-offset form-outline-offset

	.icon-bkg, .icon
		width form-radio-size
		height form-radio-size
		center()
		transform-origin 50% 50%
		
		div
			width 100%
			height 100%
			border-radius form-radio-radius
			
	.icon-bkg div
		outline form-outline-width solid form-outline-base
		outline-offset form-outline-offset
		background form-bkg-base

	.icon div
		background transparent

	.icon 
		transition transform form-base-speed form-easing-function, opacity (form-base-speed/1.25)

// Unchecked
+vf-radio-option-unchecked()
	.icon 
		opacity 0
		transform translate(50%, -50%) scale(0.2)

// Unchecked Hover
+vf-radio-option-unchecked-hover()
	.icon-wrap
		outline-color form-outline-hover
	.icon-bkg div
		background form-bkg-hover

// Unchecked Focus
+vf-radio-option-unchecked-focus()
	.icon-wrap
		outline-color form-outline-focus

// Checked
+vf-radio-option-checked()
	.icon
		opacity 1
		transform translate(50%, -50%) scale(0.8)
		div
			background form-bkg-selected

// Checked Hover
+vf-radio-option-checked-hover()
	.icon-wrap
		outline-color form-outline-hover
	.icon div
		background form-bkg-selected-hover

// Checked Focus
+vf-radio-option-checked-focus()
	.icon-wrap
		outline-color form-outline-focus

