.vf-select
	// Limit width to select's width
	display inline-block
	position relative
	cursor pointer
	width 100%

	label
		display block
		margin-bottom form-input-label-above-padding
		color form-label-base

	.select
		position relative
		fluid height, form-input-height, form-input-height-min

	// The actual <select> with <options> that appears on click
	select
		border none
		appearance none
		expand()
		cursor pointer
		text-overflow ellipsis

		fluid height, form-input-height, form-input-height-min
		fluid padding-h, form-input-padding-h, form-input-padding-h-min
		background form-bkg-base
		outline form-outline-width solid form-outline-base
		outline-offset form-outline-offset
		border-radius form-input-radius
		min-width 250px
		border none
		cursor pointer
		display block
		width 100%
		color form-color-base
		
	// Chevron icon
	.icon
		position absolute
		display block
		color form-color-base
		fluid right, form-input-padding-h, form-input-padding-h-min
		top 50%
		transform translateY(-50%)
		pointer-events none

.vf-select:not(.error)
	// Placeholder color
	&.no-value
		select
			color form-color-placeholder

			+hover()
				color form-color-placeholder

			&:focus, &:active
				color form-color-placeholder

	select
		&:not([disabled])
			// Hover state
			+hover()
				outline-color form-outline-hover
				color form-color-hover
				background form-bkg-hover

			// Focus state
			&:focus, &:active
				transition-duration (form-base-speed/2)
				outline form-outline-width solid form-outline-focus
				color form-color-focus
				background form-bkg-focus

		// Disabled state
		&[disabled]
			&, &::placeholder
				color grey
				opacity 1


// Error state
.vf-select.error
	select
		outline-color form-outline-error
		color form-color-error
		background form-bkg-error

		+hover()
			color form-color-error-hover
			background form-bkg-error-hover
			outline-color form-outline-error-hover

		&:focus
			color form-color-error-focus
			background form-bkg-error-focus
			outline-color form-outline-error-focus

